* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

nav {
    background-color: rgba(0, 0, 128, 0.685);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#item {
    display: flex;
    gap: 20px;
}

#item a {
    color: white;
    text-decoration: none;
}

/* page content */
#page01,
#page02,
#page03 {
    height: 100vh;
    width: 100%;
}

#move {
    background-color: #d8ff04;
    display: flex;
    padding: 1vw 0;
    overflow: hidden;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 0.1em;
    transform: translate(-100%)
}

.marque h1 {
    font-size: 50px;
}

.marque img {
    height: 100px;
    width: 100px;
}