* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    /* overflow-x: hidden; */
}

nav {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#item {
    display: flex;
    gap: 20px;
}

#item a {
    color: white;
    text-decoration: none;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;

}