* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    overflow-x: hidden;
}

nav {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#item {
    display: flex;
    gap: 20px;
}

#item a {
    color: white;
    text-decoration: none;
}

/* page content */

.pages {
    height: 100%;
    width: 100%;
}

#page1 {
    background-color: rgb(185, 199, 109);
}

#page2 {
    background-color: rgb(121, 224, 181);
}

#page3 {
    background-color: rgb(55, 160, 192);
}

#page4 {
    background-color: rgb(226, 126, 201);
}

#page5 {
    background-color: rgb(102, 194, 197);
}

#page6 {
    background-color: rgb(184, 134, 218);
    overflow-x: hidden;
}

#page6 h1 {
    font-size: 30vw;
    font-weight: bold;
    padding: 20px;
}

#page7 {
    background-color: rgb(236, 198, 140);
}

#box {
    height: 200px;
    width: 200px;
    background-color: white;
}