* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

nav {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#item {
    display: flex;
    gap: 20px;
}

#item a {
    color: white;
    text-decoration: none;
}


#box {
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

svg {
    /* background-color: rgb(33, 36, 36); */
}