* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

nav {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#item {
    display: flex;
    gap: 20px;
}

#item a {
    color: white;
    text-decoration: none;
}

#ball-box {
    width: 200px;
    height: 200px;
    background-color: rgb(20, 168, 119);
    margin: 40px;
}

#box1 {
    width: 300px;
    height: 300px;
    background-color: crimson;
}

#box2 {
    width: 300px;
    height: 300px;
    background-color: darkcyan;
    position: absolute;
    top: 0;
    right: 0;
}

#box3 {
    width: 300px;
    height: 300px;
    background-color: darkmagenta;
    position: absolute;
    bottom: 0;
    left: 0;
}

#box4 {
    width: 300px;
    height: 300px;
    background-color: darkorange;
    position: absolute;
    bottom: 0;
    right: 0;
}

#box5 {
    width: 200px;
    height: 200px;
    background-color: rgb(58, 139, 139);
}

#box6 {
    width: 200px;
    height: 200px;
    background-color: darkslateblue;
}

#box7 {
    width: 200px;
    height: 200px;
    background-color: rgb(81, 125, 207);
}

#box8 {
    width: 200px;
    height: 200px;
    background-color: rgb(123, 184, 224);
}